<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask Login Demo</title>
    <link rel="stylesheet" type="text/css" href="/static/main.css">
</head>
<body>
    <header class="center">
        <h1><a href="{{ url_for('home') }}">Flask Login System Test App</a></h1>
    </header>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="message">
                    {{message}}
                </div>
            {% endfor%}
        {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
</body>
</html>